{{#if form_only}}
    <form class="signup-form" data-members-form="signup">
        <div class="signup-box">
            <input data-members-email type="email" placeholder="your email..." required="true" autocomplete="false"
                autofocus />
            <button class="button pop" type="submit">
                <span class="button-content">get the newsletter</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to confirm your
            subscription</div>
        <div class="message-error">Enter a valid email, fool</div>
    </form>
{{else}}
    <section class="subscribe-form">
        <h3 class="subscribe-form-title">Get on the {{@site.title}}</h3>
        <p class="subscribe-form-description">Get the latest personal growth article at 7:30AM, every Monday</p>


        <form class="signup-form" data-members-form="signup">
            <div class="signup-box">
                <input data-members-email type="email" placeholder="your email..." required="true" autocomplete="false"
                    autofocus />
                <button class="button pop" type="submit">
                    <span class="button-content">get the newsletter</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>

            <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to confirm your
                subscription</div>
            <div class="message-error">Enter a valid email, fool</div>
        </form>
    </section>
{{/if}}